.images{
   
    height: 420px;  
}
.contents{
    background-color: #060602;
    padding-bottom: 57px;
    display: flex;
    flex-direction: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
